
body{
  background-color: rgb(23, 23, 23);
  height: 100vh;
}

.info{
  background-color: red;
  height: 12vh;

  .name{
    font-family: "SuisseWorks-Regular"
  }
}
.hero{
  margin-left: 2vw;
  // font-weight: 200;
}
.hero-title-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  // background-color: blue;
  height: 38vh;

  .headline-full-stack{
    position: absolute;
    bottom: 0;
    padding-right: 20px;
  }
}
.hero-title-bottom {
  // background-color: orange;
  height: 38vh;
}
.nav{
  background-color: pink;
  height: 12vh;
}

// }