
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



// h1{
//   font-family: "BebasNeue-Regular2";
//   font-size: 20vw;
//   // letter-spacing: 20px;
//   background-image: grey;
//   // letter-spacing: 2.5px;
//   white-space: pre-wrap;
//   font-weight: bolder;
//   line-height: 18.9vw;
// }

h1{
  font-family: "BebasNeue-Regular";
  font-size: 20vw;
  // letter-spacing: 20px;
  background-image: grey;
  // letter-spacing: 2.5px;
  white-space: pre-wrap;
  // font-weight: bolder;
  line-height: 18vw;
}