// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
  font-family: BebasNeue-Regular;
  src: url('./assets/fonts/BebasNeue-Regular.ttf');
}

@font-face{
  font-family: BebasNeue-Regular2;
  src: url('./assets/fonts/FontsFree-Net-BebasNeue-Regular.ttf');
}

@font-face{
  font-family: SuisseWorks-Regular;
  src: url('./assets/fonts/SuisseWorks-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}